name: Update Contributions and Statistics

on:
  push:
    branches: [main]
  workflow_dispatch: # run manually from actions tab
  schedule:
  - cron: 0 0 1 * * # run once a month at midnight

permissions: {} # Set permissions at the job level.

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 3

jobs:

  update-contributions:
    if: github.repository_owner == 'afuetterer'
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: 3.x
    - name: Install requirements
      run: |
        python -m pip install --upgrade cogapp requests
        python -m pip list
    - run: cog -r README.md

    - name: Generate the user stats image
      # Ref: https://github.com/cicirello/user-statistician?tab=readme-ov-file#inputs
      uses: cicirello/user-statistician@653508b194a17f5c56ac6d1e64e59ccad28cb968 # v1.24.1
      with:
        image-file: images/statistics.svg
        commit-and-push: false
        # commit-message: "chore: update user statistics\n\nAutomatically generated by cicirello/user-statistician [skip ci]"
        include-title: false
        featured-repository: oaipmh-scythe
        hide-keys: private mostStarred mostForked
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
      with:
        add: |
          README.md
          images/statistics.svg
        default_author: github_actions
        message: "chore: update contributions"

  # update-metrics:
  #   if: github.repository_owner == 'afuetterer'
  #   needs: update-contributions
  #   runs-on: ubuntu-24.04
  #   permissions:
  #     contents: write
  #   steps:
  #     # Ref: https://github.com/lowlighter/metrics/blob/master/action.yml
  #     - uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6 # v3.34
  #       with:
  #         token: ${{ secrets.METRICS_TOKEN }}
  #         filename: images/metrics.svg
  #         committer_message: "chore: update github-metrics\n\nAutomatically generated by lowlighter/metrics [skip ci]"
  #         config_timezone: Europe/Berlin
  #         base_hireable: false
  #         base: header, activity, community, repositories, metadata
  #         plugin_languages: true
  #         user: afuetterer
  #         # Ref: https://github.com/lowlighter/metrics/blob/master/source/plugins/core/README.md#advanced-pattern-matching
  #         repositories_skipped: |
  #           @use.patterns
  #           -afuetterer/*
  #           +afuetterer/oaipmh-scythe
