name: Update Contributions and Statistics

on:
  push:
    branches: [main]
  workflow_dispatch: # run manually from actions tab
  schedule:
  - cron: 0 0 1 * * # run once a month at midnight

permissions: {} # Set permissions at the job level.

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 3

jobs:

  update-contributions:
    if: github.repository_owner == 'afuetterer'
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: 3.x
    - name: Install requirements
      run: |
        python -m pip install --upgrade cogapp requests
        python -m pip list
    - run: cog -r README.md

    - name: Generate the user stats image
      # Ref: https://github.com/cicirello/user-statistician?tab=readme-ov-file#inputs
      uses: cicirello/user-statistician@6a7e459d1174b5822afa99a7c6acccf376cb2eb1 # v1.25.0
      with:
        image-file: images/statistics.svg
        commit-and-push: false
        # commit-message: "chore: update user statistics\n\nAutomatically generated by cicirello/user-statistician [skip ci]"
        include-title: false
        featured-repository: oaipmh-scythe
        hide-keys: private mostStarred mostForked
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
      with:
        add: |
          README.md
          images/statistics.svg
        default_author: github_actions
        message: 'chore: update contributions'
